
/*Inserta tu css aqui*/
body {
	background-color: #D8D8D8;
}
/*Header*/
header .bg-green {
	background-color: #009688;
	height: 100px;
}
body {
	background-color: #D8D8D8;
}
.ventana{;
	position: absolute;
	top: 50px;
	left: 50px;
	margin-bottom: 50px;
}
/*Inicio*/
.inicio, .laboratoriauno{
	background-color: #E6E6E6;
	border: 1px solid #BDBDBD;
}
.inicio{
	width: 400px;
	height: 87px;
	padding-left: 10px;
}
.buscar, .contacto{
	border: 1px solid #BDBDBD;
	background-color: white;	
}
.icono{
	margin-left: 310px;
	margin-top: -40px;
}
.icono .glyphicon{
	color: gray;
	font-size: 22px;
}
/*Buscar*/
.buscar{
	width: 400px;
	padding: 10px;
}
.input-group-addon{
	background-color: white;
}
.buscar .glyphicon{
	color: #BDBDBD ; 
}
/*Contacto*/
.contacto{
	padding: 10px;
}
.media{
	margin-left:30px;
}
.media-object{
	border-radius: 50%;
	width: 60px;
}
.contacto:before, .contacto:after{
	content: "";
	display: block;
	clear: both;
}
.media-heading {
  margin-top: 0;
  margin-bottom: 5px;
  width: 350px;
}
.hora{
	float: right;
	width: 40px;
	margin-right:40px;
	margin-left: 40px;
	text-align: right;
	font-size: 12px;
	color: gray;
}
.scroll{
	height: 600px;
  overflow: scroll;
  overflow-x:hidden
  margin-left: -25px;
}
}
/*laboratoria*/
.laboratoria{
	width: 620px;
	border: 1px solid #BDBDBD;
}
/*laboratoriauno*/
.laboratoriauno{
	padding: 10px;
	height: 87px;
	width: 620px;
  margin-left: -25px;
}
.iconos{
	margin-left: 540px;
	margin-top: -40px;
}
.iconos .glyphicon{
	color: gray;
	font-size: 22px;
}
/*chat*/
.chat, .chatuno{
	width: 350px;
}
.chat{
	padding-left: 10px;
	border: 1px solid #BDBDBD;
	border-radius: 4%;
	margin: 10px;
	height: 95px;
	background-color: white;
}
.chatuno{
	text-align: right;
	border-radius: 4%;
	margin-bottom: 10px;
	background-color:#58FA82;
	margin-left: 440px;
	height: 50px;
	padding: 5px;
	width: 150px;
}
.nombre1{
	color: red;
}
.nombre2{
	color: blue;
}
.nombre3{
	color: green;
}
.scroll1{
  height: 580px;
  width: 595px;
  overflow: scroll;
  overflow-x:hidden;
  background-image: url(../image/chat-panel-bg.png);
}
/*buscador*/
.buscador{
	border: 1px solid #BDBDBD;
	width: 400px;
	padding: 15px;
	width: 615px;
  margin-left: -20px;
}

/*responsive*/
@media (min-width: 668px) and  (max-width: 900px) {
  .col-md-4{
    width: 100%;
  }
  .col-md-8{
    width: 100%;
    margin-left: -60px;
  }
